html, body{
	margin:0px;
    padding: 0px;
    height:100%;
}
body{
	background-image: url(../Images/back.jpg);
	background-position:center;
}

.input-theme, .btn-theme {
	border-radius:0px;
}

.input-theme {
	padding-left: 30px;
}

/*HEADER*/
.navbar {
    border-radius: 0px !important;
    /*background-color: #00a65a !important;*/
    /*background-color: #F1F1F1 !important;*/
    /*background-color: #F9F9F9;*/
    /*background-image: linear-gradient(0deg, #dfdfdf 0%,white 100%) !important;*/
    border-bottom: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0px 0px 1px 2px rgba(255,255,255,0.3);
}
.navbar-brand {
    padding: 9px 15px !important;
}
#logo-menu {
    width: 150px;
}
.btn-login, .btn-register, .btn-menu {
    background-color:transparent !important;
    border-radius:50px 50px !important;
}
.btn-login {
    color: #5cb85c !important;
}
.btn-register {
    color: #f0ad4e !important;
}
.btn-login:hover{
    background-color: rgba(92, 184, 92, 0.1) !important;
    background: rgba(92, 184, 92, 0.1) !important;
    border: solid 1px #4cae4c !important;
}
.btn-register:hover {
    background-color: rgba(240, 173, 78, 0.1) !important;
    background: rgba(240, 173, 78, 0.1) !important;
    border:solid 1px #eea236 !important;
}

/*FIN HEADER*/

/*BODY*/

/*FIN BODY*/

/*FOOTER*/
.footer {
    width: 100%;
    background: #56bc8a;
    box-shadow: inset 0px 3px 0px rgba(0,0,0,.1);
    position: absolute;
    bottom:0px;
    height: 40px;
    padding:11px 0px;
}

.foot {
    color:#b9fcdb;
    font-size:12px;
}

.foot a {
    color:#ffffff !important;
}
/*FIN FOOTER*/

/*TOOLS*/
.dividerx10 {
    height:10px;
}
.dividerx20 {
    height:20px;
}
/*FIN TOOLS*/