<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILibroServicio" />
                <binding name="BasicHttpBinding_IIdiomaServicio" />
                <binding name="BasicHttpBinding_IGradoServicio" />
                <binding name="BasicHttpBinding_IEncabezadoServicio" />
                <binding name="BasicHttpBinding_IEditorServicio" />
                <binding name="BasicHttpBinding_IInstitucionServicio" />
                <binding name="BasicHttpBinding_IPrestamoServicio" />
                <binding name="BasicHttpBinding_IInventarioServicio" />
                <binding name="BasicHttpBinding_IPersonaServicio" />
                <binding name="BasicHttpBinding_ICarreraServicio" />
                <binding name="BasicHttpBinding_ICiudadServicio" />
                <binding name="BasicHttpBinding_IPaisServicio" />
                <binding name="BasicHttpBinding_IAccountServicio" />
                <binding name="NoSecurity" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="32" maxStringContentLength="8388608"
                        maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None" />
                </binding>
                <binding name="BasicHttpBinding_IRecomendacionServicio" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5587/Catalogacion/LibroServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILibroServicio"
                contract="LibroServicio.ILibroServicio" name="BasicHttpBinding_ILibroServicio" />
            <endpoint address="http://localhost:5587/Catalogacion/IdiomaServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIdiomaServicio"
                contract="IdiomaServicio.IIdiomaServicio" name="BasicHttpBinding_IIdiomaServicio" />
            <endpoint address="http://localhost:5587/Catalogacion/GradoServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGradoServicio"
                contract="GradoServicio.IGradoServicio" name="BasicHttpBinding_IGradoServicio" />
            <endpoint address="http://localhost:5587/Catalogacion/EncabezadoServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEncabezadoServicio"
                contract="EncabezadoServicio.IEncabezadoServicio" name="BasicHttpBinding_IEncabezadoServicio" />
            <endpoint address="http://localhost:5587/Catalogacion/EditorServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEditorServicio"
                contract="EditorServicio.IEditorServicio" name="BasicHttpBinding_IEditorServicio" />
            <endpoint address="http://localhost:5587/Catalogacion/InstitucionServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInstitucionServicio"
                contract="InstitucionServicio.IInstitucionServicio" name="BasicHttpBinding_IInstitucionServicio" />
            <endpoint address="http://localhost:5587/Prestamo/PrestamoServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrestamoServicio"
                contract="PrestamoServicio.IPrestamoServicio" name="BasicHttpBinding_IPrestamoServicio" />
            <endpoint address="http://localhost:5587/Catalogacion/InventarioServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInventarioServicio"
                contract="InventarioServicio.IInventarioServicio" name="BasicHttpBinding_IInventarioServicio" />
            <endpoint address="http://localhost:5587/Otros/PersonaServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonaServicio"
                contract="PersonaServicio.IPersonaServicio" name="BasicHttpBinding_IPersonaServicio" />
            <endpoint address="http://localhost:5587/Otros/CarreraServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICarreraServicio"
                contract="CarreraServicio.ICarreraServicio" name="BasicHttpBinding_ICarreraServicio" />
            <endpoint address="http://localhost:5587/Otros/CiudadServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICiudadServicio"
                contract="CiudadServicio.ICiudadServicio" name="BasicHttpBinding_ICiudadServicio" />
            <endpoint address="http://localhost:5587/Otros/PaisServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaisServicio"
                contract="PaisServicio.IPaisServicio" name="BasicHttpBinding_IPaisServicio" />
            <endpoint address="http://localhost:5587/Administrator/AccountServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountServicio"
                contract="AccountServicio.IAccountServicio" name="BasicHttpBinding_IAccountServicio" />
            <endpoint address="http://localhost:5587/Recomendacion/RecomendacionServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecomendacionServicio"
                contract="RecomendacionServicio.IRecomendacionServicio" name="BasicHttpBinding_IRecomendacionServicio" />
        </client>
    </system.serviceModel>
</configuration>